html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  a {
    @apply underline;
    @apply text-blue-500;
  }

  a :hover {
    @apply font-bold;
    @apply no-underline;
  }

  nav {
    @apply bg-blue-500;
    @apply flex; 
    @apply justify-center;
    @apply space-x-4;
    @apply h-12;
    @apply pt-2;
  }

  nav a {
    @apply text-white text-center;
    @apply no-underline
  }

}